body{
    padding-top: 50px;
    width:100%;
    background: url("../img/VX_QW1HDB[2G_IA03@J@HJQ.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.main-container{
    background-color: rgba(255,255,255,0.5);
    height: 640px;
}
.intr-logo img{
    border-radius: 50%;
    width: 150px;
    margin-top: 50px;
}
.intr-word{
    font-size: 25px;
    margin-top: 50px;
    line-height: 2em;
}
.main-skills{
   background-image: url(../img/c4148b1aa19647d18fd492a50103e41f.jpg);
   background-size:100% ;
    height: 300px;
    color: #ffffff;
    padding-top: 30px;
}
.main-skills h2{
    margin-top: 0;
}
.main-skills p{
    font-size: 20px;
}